---
import { Icons } from "@/components/icons";
import { SocialList } from "@/components/social-list";
import { buttonVariants } from "@/components/ui/button";
import { members } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
import H1 from "@/typography/H1.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
  return members.map((member) => ({
    params: {
      alias: member.name.stage,
    },
  }));
}) satisfies GetStaticPaths;

const { alias } = Astro.params;
const member = members.find((m) => m.name.stage === alias)!;
const {
  birthdate,
  birthplace,
  bloodType,
  description,
  image,
  name,
  zodiac,
  height,
  weight,
  socials,
} = member;
---

<Layout title={name.stage + " | aespa"}>
  <section class="max-w-[140vh] mx-auto">
    <div class="relative flex justify-center">
      <a
        href="/"
        class={cn(
          "absolute z-40 top-2 left-2 inline-flex gap-2",
          buttonVariants({ variant: "link" })
        )}
      >
        <Icons.back />
         Home</a
      >
      <img
        src={image.cover}
        alt={name.stage + "'s Cover"}
        class="object-cover w-full"
        decoding="async"
        loading="lazy"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-background to-background/60 md:to-background/40"
      >
      </div>
      <div class="absolute top-1/2">
        <div class="flex flex-row justify-start gap-4 p-6">
          <div class="flex flex-col gap-4">
            <div transition:name=`icon-${name.stage}`>
              <img
                src={image.icon}
                alt={`Icon of ${name.stage}`}
                class="rounded-full"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="flex flex-col justify-center gap-4 px-4">
              <SocialList {socials} />
            </div>
          </div>

          <div class="flex flex-col gap-2">
            <H1>
              <span transition:name={name.fullname}>{name.fullname}</span>{" "}
              <span transition:name={name.stage}>({name.stage})</span>
            </H1>
            <p
              transition:name="ok"
              class="leading-7 [&:not(:first-child)]:mt-6"
            >
              {description}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
