---
import { members } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import H1 from "@/typography/H1.astro";

export const getStaticPaths = (() => {
  return members.map((member) => ({
    params: {
      alias: member.name.stage,
    },
  }));
}) satisfies GetStaticPaths;

const { alias } = Astro.params;
const member = members.find((m) => m.name.stage === alias)!;
const {
  birthdate,
  birthplace,
  bloodType,
  description,
  image,
  name,
  zodiac,
  height,
  weight,
} = member;
---

<Layout title={name.stage + " | AESPA"}>
  <H1>
    <span transition:name={name.fullname}>{name.fullname}</span>
    <span transition:name={name.stage}>({name.stage})</span>
  </H1>
  <p transition:name={`desc-${name.stage}`}>{description}</p>
  <img
    src={image.cover}
    alt=`${name.stage}'s coverImg'`
    transition:name=`img-${name.stage}`
  />
</Layout>
