---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

type Props = Member;

const { name, image, birthdate, birthplace, bloodType, description, zodiac } =
  Astro.props;
---

<a href=`/member/${name.stage}`>
  <Card>
    <CardHeader>
      <CardTitle>
        <span transition:name={name.fullname}>{name.fullname}</span>{" "}
        <span transition:name={name.stage}>({name.stage})</span>
      </CardTitle>
      <CardDescription transition:name={"desc-" + name.stage}>
        {description}
      </CardDescription>
    </CardHeader>
    <CardContent>
      <img
        src={image.cover}
        alt={name.stage}
        transition:name=`img-${name.stage}`
      />
    </CardContent>
    <CardFooter>
      {zodiac.join(",")}
    </CardFooter>
  </Card>
</a>
