---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import type { Member } from "@/types/members";

type Props = Member;

const { name, image, birthdate, birthplace, bloodType, description, zodiac } =
  Astro.props;
---

<a href=`/member/${name.stage}`>
  <Card>
    <div class="grid grid-cols-3">
      <div class="py-6 px-4" transition:name=`icon-${name.stage}`>
        <img
          src={image.icon}
          alt={`Icon of ${name.stage}`}
          class="rounded-2xl"
        />
      </div>
      <div class="col-span-2">
        <CardHeader>
          <CardTitle>
            <span transition:name={name.fullname}>{name.fullname}</span>{" "}
            <span transition:name={name.stage}>({name.stage})</span>
          </CardTitle>
          <CardDescription />
        </CardHeader>
        <CardContent>
          <div>Birth Date: {birthdate}</div>
          <div>Birth Place: {birthplace}</div>
          <div>Blood Type: {bloodType}</div>
          <div>
            Zodiac Signs:
            {zodiac.join(",")}
          </div>
        </CardContent>
      </div>
    </div>
  </Card>
</a>
